
.account-datagrid {
    font-family:'Inter', sans-serif !important;
}

.account-datagrid .MuiDataGrid-columnHeaders {
    border-bottom: none;
}

.account-datagrid .MuiDataGrid-columnHeaderTitleContainer {
    overflow: visible !important;
}

.account-column-header-checkbox {
    padding: 0 !important;
    padding-left: 5px !important;
}

.account-column-header {
    border-right: 1px solid rgba(68, 72, 84, 0.12);
}

.account-column-header:last-of-type {
    border-right: none;
}

.account-column-header .MuiDataGrid-columnHeaderTitleContainerContent {
    display: block !important;
    width: 100%;
}

.account-column-header .MuiDataGrid-columnSeparator, .account-column-header-checkbox .MuiDataGrid-columnSeparator {
    visibility: hidden;
}

.account-column-cell-pl-0 {
    padding-left: 0 !important;
}

.account-list-item {
    min-width: 0 !important;
}
