.catalogue-datagrid {
  font-family: 'Inter', sans-serif !important;
}

.catalogue-datagrid .MuiDataGrid-columnHeaders {
  border-bottom: none;
}

.catalogue-datagrid .MuiDataGrid-columnHeaderTitleContainer {
  overflow: visible !important;
}

.catalogue-column-header-checkbox {
  padding: 0 !important;
  padding-left: 5px !important;
}

.catalogue-column-header {
  border-right: 1px solid rgba(68, 72, 84, 0.12);
}

.catalogue-column-header:last-of-type {
  border-right: none;
}

.catalogue-column-header .MuiDataGrid-columnHeaderTitleContainerContent {
  display: block !important;
  width: 100%;
}

.catalogue-column-header .MuiDataGrid-columnSeparator,
.catalogue-column-header-checkbox .MuiDataGrid-columnSeparator {
  visibility: hidden;
}

.catalogue-column-cell-pl-0 {
  padding-left: 0 !important;
}

.catalogue-list-item {
  min-width: 0 !important;
}

/*
.catalogue-datepicker-popper-only-month .react-datepicker__navigation {
  display: none;
}

.catalogue-datepicker-popper-only-month .react-datepicker-year-header {
  display: none;
} */

/*----TABLE HEADER----*/
.table-header {
  position: relative;
}

.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-search {
  width: 300px;
  height: 42px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgb(188 190 198 / 68%);
  border-radius: 8px;
  padding-left: 15px;
  margin-right: 30px;
}

.header-wrapper .delete-button.MuiButton-root {
  color: red;
  border: 1px solid rgb(255 0 0 / 50%);
}

.delete-button.MuiButton-root:hover {
  border: 1px solid rgb(255 0 0 / 50%);
}

.delete-button.MuiButton-root.MuiButton-outlinedPrimary:hover {
  background-color: rgb(255 0 0 / 8%);
}

.add-new-alert,
.contacts-alert {
  position: absolute;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  z-index: 2;
  border-radius: 8px;
}

.add-new-alert {
  top: -43px;
  right: 2px;
}

.contacts-alert {
  bottom: 120px;
  right: 17px;
}

.success {
  background-color: #eefbe5;
  color: #72e128;
}

.error {
  background-color: #ffebeb;
  color: #ff4d49;
}

.warn {
  background-color: #fff7eb;
  color: #ffb446;
}

@media (max-width: 700px) {
  .header-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .header-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete-button.MuiButton-root,
  .header-item .action-button.MuiButton-root {
    width: 100%;
    margin-bottom: 15px;
  }

  .input-search {
    width: 100%;
    margin-right: 0;
  }
}

/* ------ CATALOGUES TABS ------ */

.catalogue-tabs {
  width: 100%;
  position: relative;
}

.catalogue-tabs .tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabs .tab-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(77, 80, 98, 0.68);
  padding: 8px 15px;
  cursor: pointer;
  border: 2px solid transparent;
}

.tabs .tab-btn .tab-name {
  font-size: 14px;
  color: rgba(77, 80, 98, 0.68);
}

.tabs .tab-btn.active {
  color: #2535a8;
  cursor: default;
}

.tabs .tab-btn.active .tab-name {
  color: #2535a8;
  font-weight: 500;
}

.tab-btn::before {
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  transition: 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

.tab-btn.active::before {
  width: 100%;
  border-bottom: 2px solid #2535a8;
}

.catalogue-tabs .mobile-btns {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 8px;
  bottom: 8px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(37, 53, 168, 0.05);
}

.mobile-tabs {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  border-radius: 15px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
}

.mobile-tabs .tab-mobile {
  cursor: pointer;
  padding: 15px 15px 5px;
  font-size: 16px;
}

.mobile-tabs .tab-mobile:hover {
  background-color: rgba(76, 78, 100, 0.04);
}

/* .tab-btn.active:hover::before {
  width: 100%;
} */

@media (max-width: 700px) {
  .tabs .tab-btn.active {
    width: 100%;
    display: flex;
  }

  .tabs .tab-btn {
    display: none;
  }

  .catalogue-tabs .mobile-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*---- BROKER LIST & REINSURER LIST ----*/

.outter-wrapper {
  overflow-y: hidden;
  overflow-x: scroll;
}

.reinsurer-list,
.broker-list {
  min-width: 750px;
}

/*---- ADD NEW ----*/

.add-new {
  padding: 15px;
}

.add-new .title {
  font-size: 24px;
  color: rgba(77, 80, 98, 0.87);
  margin-bottom: 10px;
}

.add-new .subtitle {
  font-size: 20px;
  color: rgba(77, 80, 98, 0.87);
}

.add-new .description {
  font-size: 16px;
  color: rgba(77, 80, 98, 0.68);
  margin-bottom: 30px;
}

.subtitle,
.add-new .inner-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.add-new .action-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px 0px;
}

.add-new .edit-btn,
.add-new .edit-broker-btn {
  margin-left: 15px;
}

.add-new .delete-btn.MuiButton-root,
.add-new .delete-broker-btn.MuiButton-root {
  color: rgba(130, 133, 151, 1);
}

@media (max-width: 800px) {
  .add-new .edit-btn.MuiButton-root,
  .add-new .delete-btn.MuiButton-root,
  .add-new .create-broker-btn.MuiButton-root,
  .add-new .edit-broker-btn.MuiButton-root,
  .add-new .delete-broker-btn.MuiButton-root {
    width: 100%;
  }

  .add-new .edit-btn,
  .add-new .edit-broker-btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .add-new .action-buttons {
    flex-wrap: wrap;
  }
  .add-new .action-buttons .add-btn {
    width: 100%;
  }
}

/*---- BROKER CONTACT LIST  ----*/

.contacts-wrapper {
  overflow-y: hidden;
  overflow-x: scroll;
}

.contact-list {
  min-width: 750px;
}

.contacts-wrapper .title {
  font-size: 24px;
  color: rgba(77, 80, 98, 0.87);
  padding: 15px;
}

.contacts-wrapper .description {
  font-size: 16px;
  color: rgba(77, 80, 98, 0.68);
  margin-bottom: 10px;
  padding: 0 15px 15px;
}

/* ------ CONTACT ACTIONS & BINDER ACTIONS ------ */

.contact-list .MuiDataGrid-cell {
  overflow: inherit !important;
}

.actions-wrapper {
  width: 100%;
  position: relative;
}

.actions-menu {
  position: absolute;
  width: 100%;
  min-width: 90px;
  left: -87px;
  background-color: white;
  padding: 0px 0px 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
}

.actions-menu .menu-option {
  cursor: pointer;
  padding: 15px 15px 5px;
  font-size: 16px;
}

.actions-menu .menu-option:hover {
  background-color: rgba(76, 78, 100, 0.04);
}

@media (max-width: 700px) {
  .actions-wrapper .actions-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ---- ADD BINDER ----*/

.reference-number .MuiOutlinedInput-root {
  min-width: 500px;
}

@media (max-width: 700px) {
  .reference-number .MuiOutlinedInput-root {
    min-width: unset;
  }
}

/* ---- Countries & Currencies ----*/

.country-currencies-wrapper {
  width: 100%;
  display: flex;
  padding: 25px 10px;
}

.inner-container {
  width: 50%;
  margin: 0 10px;
}

.inner-container-long {
  width: 100%;
  margin: 0 10px;
}

.header-block {
  background-color: rgba(76, 78, 100, 0.04);
  display: flex;
  border-radius: 8px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.header-block .header-icon {
  width: 10%;
  max-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(45, 103, 235, 0.05);
  margin: 0 auto 0 0;
  padding: 5px;
}

.inner-container-long .header-icon {
  width: 5%;
}

.header-block .header-icon .icon {
  width: 20px;
  height: 20px;
}

.header-block .content {
  display: block;
  width: 80%;
}

.inner-container-long .content {
  width: 90%;
}
.content .title {
  color: rgba(77, 80, 98, 0.87);
  font-size: 16px;
}

.content .description {
  color: rgba(77, 80, 98, 0.68);
  font-size: 14px;
}
.header-block .add-btn {
  width: 10%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
}

.inner-container-long .add-btn {
  width: 5%;
}
.block-list {
  padding: 10px 10px;
}

.block-list .list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.list-item .item-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-menu {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.item-menu:hover {
  background-color: rgba(76, 78, 100, 0.04);
}
.inner-container-long .actions-menu,
.inner-container .actions-menu {
  top: 0px;
}

@media (max-width: 700px) {
  .header-block .content {
    width: 70%;
  }

  .header-block .add-btn {
    width: 17%;
  }

  .header-block .header-icon {
    width: 17%;
  }

  .inner-container-long .header-icon {
    width: 15%;
  }
  .inner-container-long .content {
    width: 70% !important;
  }
  .inner-container-long .add-btn {
    width: 15% !important;
  }
}

@media (max-width: 900px) {
  .country-currencies-wrapper {
    flex-wrap: wrap;
  }
  .inner-container {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .inner-container-long .add-btn {
    width: 10%;
  }
  .inner-container-long .content {
    width: 80%;
  }
  .inner-container-long .add-btn {
    width: 10%;
  }
}
