.catalogue-datagrid {
  font-family: 'Inter', sans-serif !important;
}

.catalogue-datagrid .MuiDataGrid-columnHeaders {
  border-bottom: none;
}

.catalogue-datagrid .MuiDataGrid-columnHeaderTitleContainer {
  overflow: visible !important;
}

.catalogue-column-header-checkbox {
  padding: 0 !important;
  padding-left: 5px !important;
}

.catalogue-column-header {
  border-right: 1px solid rgba(68, 72, 84, 0.12);
}

.catalogue-column-header:last-of-type {
  border-right: none;
}

.catalogue-column-header .MuiDataGrid-columnHeaderTitleContainerContent {
  display: block !important;
  width: 100%;
}

.catalogue-column-header .MuiDataGrid-columnSeparator,
.catalogue-column-header-checkbox .MuiDataGrid-columnSeparator {
  visibility: hidden;
}

.catalogue-column-cell-pl-0 {
  padding-left: 0 !important;
}

.catalogue-list-item {
  min-width: 0 !important;
}
/*
.catalogue-datepicker-popper-only-month .react-datepicker__navigation {
  display: none;
}

.catalogue-datepicker-popper-only-month .react-datepicker-year-header {
  display: none;
} */

 /*----TABLE HEADER----*/
.table-header{
  position: relative;
}
.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-search{
  width: 300px;
  height: 42px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgb(188 190 198 / 68%);
  border-radius: 8px;
  padding-left: 15px;
  margin-right: 30px;
}


.delete-button.MuiButton-root{
  color:red;
  border: 1px solid rgb(255 0 0 / 50%);
}
.delete-button.MuiButton-root:hover{
  border: 1px solid rgb(255 0 0 / 50%);
}
.delete-button.MuiButton-root.MuiButton-outlinedPrimary:hover{
  background-color: rgb(255 0 0 / 8%);
}

.add-new-alert,
.contacts-alert{
  position: absolute;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  z-index: 2;
  border-radius: 8px;
}

.add-new-alert{
  top: -43px;
  right: 2px;
}

.contacts-alert{
  bottom: 120px;
  right: 17px;
}

.success{
  background-color: #EEFBE5;
  color: #72E128;
}

.error{
  background-color: #ffebeb;
  color: #FF4D49;
}

.warn{
  background-color: #fff7eb;
  color: #FFB446;
}

@media (max-width: 700px) {

  .header-wrapper{
    display: flex;
    flex-direction: column-reverse;
  }
  .header-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete-button.MuiButton-root,
  .header-item .action-button.MuiButton-root{
    width: 100%;
    margin-bottom: 15px;
  }


  .input-search{
    width: 100%;
    margin-right: 0;
  }
}

/* ------ CATALOGUES TABS ------ */

.catalogue-tabs {
  width: 100%;
  position: relative;
}

.catalogue-tabs .tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tabs .tab-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(77, 80, 98, 0.68);
  padding: 8px 15px;
  cursor: pointer;
  border: 2px solid transparent;
}



.tabs .tab-btn .tab-name {
  font-size: 14px;
  color: rgba(77, 80, 98, 0.68);
}

.tabs .tab-btn.active {
  color: #2535a8;
  cursor:default;
}

.tabs .tab-btn.active .tab-name {
  color: #2535a8;
  font-weight: 500;
}


.tab-btn::before {
  bottom:0;
  left:0;
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  transition: .2s ease-in-out;
  border-bottom: 2px solid transparent;
}

.tab-btn.active::before {
  width: 100%;
  border-bottom: 2px solid #2535a8;
}
.catalogue-tabs .mobile-btns{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 8px;
  bottom: 8px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(37, 53, 168, 0.05);
}


.mobile-tabs {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  border-radius: 15px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
}



.mobile-tabs .tab-mobile {
  cursor: pointer;
  padding: 15px 15px 5px;
  font-size: 16px;
}

.mobile-tabs .tab-mobile:hover {
  background-color: rgba(76, 78, 100, 0.04);
}

/* .tab-btn.active:hover::before {
  width: 100%;
} */

@media (max-width: 700px) {
  .tabs .tab-btn.active {
    width: 100%;
    display: flex;
  }

  .tabs .tab-btn {
    display: none;
  }

  .catalogue-tabs .mobile-btns{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/*---- BROKER LIST & REINSURER LIST ----*/

.outter-wrapper{
  overflow-y: hidden;
  overflow-x: scroll;
}

.reinsurer-list,
.broker-list{
  min-width: 750px;
}

/*---- ADD BROKER ----*/

.add-new{
  padding: 15px;
}

.add-new .title{
  font-size:  24px;
  color: rgba(77, 80, 98, 0.87);
  margin-bottom: 10px;
}

.add-new .subtitle{
  font-size:  20px;
  color: rgba(77, 80, 98, 0.87)
}

.add-new .description{
  font-size: 16px;
  color: rgba(77, 80, 98, 0.68);
  margin-bottom: 30px;
}
.subtitle,
.add-new .inner-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.add-new .action-buttons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px 0px;
}

.add-new .edit-broker-btn{
  margin-left: 15px;
}

.add-new .delete-broker-btn.MuiButton-root{
  color: rgba(130, 133, 151, 1);
}

@media (max-width: 800px) {

  .add-new .ccreate-broker-btn.MuiButton-root,
  .add-new .edit-broker-btn.MuiButton-root,
  .add-new .delete-broker-btn.MuiButton-root{
    width: 100%;
  }

  .add-new .edit-broker-btn{
    margin-left: 0;
    margin-top: 10px;
  }

  .add-new .action-buttons{
    flex-wrap: wrap;
  }
}
/*---- BROKER CONTACT LIST  ----*/

.contacts-wrapper{
  overflow-y: hidden;
  overflow-x: scroll;
}

.contact-list{
  min-width: 750px;
}

.contacts-wrapper .title{
  font-size:  24px;
  color: rgba(77, 80, 98, 0.87);
  padding: 15px;
}

.contacts-wrapper .description{
  font-size: 16px;
  color: rgba(77, 80, 98, 0.68);
  margin-bottom: 10px;
  padding: 0 15px 15px;
}


