/*---------------------Dashboard styles ----------------*/

.total-investment .data-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
}

.icon-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.investment-per-state .icon-wrapper,
.sales-this-month .icon-wrapper {
  position: absolute;
  right: 20px;
  top: 23px;
}
.see-more-section {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 10px;
}

.total-investment .MuiTypography-root {
  margin-bottom: 0 !important;
}

.slider-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*------------------ Property Details Styles  --------------*/

.detail-table-wrapper {
  width: 100%;
  padding: 20px;
}

.detail-table-wrapper .title {
  font-size: 24px;
  color: rgba(77, 80, 98, 0.87);
  margin-bottom: 20px;
}

.detail-table-wrapper .table .name {
  font-size: 16px;
  font-weight: 600;
}

.detail-table-wrapper .item-row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;
}

.detail-table-wrapper .item-col {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.detail-table-wrapper .item-row.row-white {
  background-color: #ffffff;
}

.detail-table-wrapper .item-row.row-grey {
  background-color: rgba(76, 78, 100, 0.04);
}

.property-header-wrapper {
  width: 100%;
  display: flex;
  padding: 40px 20px;
  justify-content: space-between;
}

.property-header-wrapper .header-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-size: 20px;
  font-family: Inter;
  color: rgba(77, 80, 98, 0.87);
}

.property-header-wrapper .header-col {
  max-width: 25%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
  align-items: center;
}

@media (max-width: 1270px) {
  .property-header-wrapper .header-row {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .property-header-wrapper .header-row {
    font-size: 16px;
  }
}

/*------------------ Map Details Styles  --------------*/

.map-details-wrapper {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.map-details-wrapper .details-row.title {
  font-size: 12px;
}

.map-details-wrapper .details-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-size: 20px;
  font-family: Inter;
  color: rgba(77, 80, 98, 0.87);
}

.map-details-wrapper .details-col {
  display: flex;
  padding: 0px 10px;
  align-items: center;
  gap: 13px;
}

.map-details-wrapper .red-icons {
  color: red;
  margin-right: 8px;
}

.map-details-wrapper .blue-icons {
  color: #477fff;
  margin-right: 8px;
}

.magnitude-icon {
  border: 2px solid red;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.magnitude-icon .red-icons {
  color: red;
  max-width: 16px;
  max-height: 16px;
  margin: 0;
}

.vertical-divider {
  border-left: 1px solid rgba(87, 90, 111, 0.12);
  margin: 0 20px;
}

@media (max-width: 1270px) {
  .map-details-wrapper .details-row {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .map-details-wrapper .details-row {
    font-size: 16px;
  }
}

/*------------------ Map Styles  --------------*/
.full-map-grid {
  padding-top: 0 !important;
}
